/*
  Start CSS Reset

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "DM Mono", monospace; /* default font */
}

#dark-mode-btn {
  position: absolute;
  top: 75px;
  left: 75px;
}

.floating-hero--container {
  position: absolute;
  left: 75px;
  bottom: 75px;
  width: 500px;
  height: 320px;

  color: white;
  background-color: black;
  border: 1px solid white;
}

body.light-mode .floating-hero--container {
  color: black; /* use variables I switch here! */
  background-color: white;
  border: 1px solid black;
}

.floating-hero--content {
  padding: 50px;
}

a.hero--button {
  text-transform: uppercase;
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;

  color: white;
  background-color: black;
  border: 1px solid white;

  padding: 10px;
}

body.light-mode a.hero--button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

a.hero--button:hover {
  color: black;
  background-color: white;

  transition: all 0.2s ease-in;
}

body.light-mode a.hero--button:hover {
  color: white;
  background-color: black;
}

/* Custom Text Styles */

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
}
