/*
  Start CSS Reset

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

/* CSS vars */

:root {
  --fg-color: white;
  --bg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: white;
    --bg-color: black;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: black;
    --bg-color: white;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: "DM Mono", monospace; /* default font */
}

canvas,
.page--container {
  position: absolute;
  height: 100%;
  width: 100%;
}

canvas {
  z-index: -1;
}

.page--container {
  z-index: 1;
}

.hidden {
  display: none;
}

.visible {
  display: inhert;
}

#dark-mode-btn {
  position: absolute;
  z-index: 1;

  top: min(75px, 7vw); /* TODO: Use CSS vars */
  left: min(75px, 7vw);
}

.page--content {
  box-sizing: border-box; /* magic! */

  height: 100%;
  width: 100%;

  padding: min(75px, 7vw);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main {
  display: flex;
  align-items: stretch;
}

.main {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);

  min-width: 0px;
  min-height: 0px;

  /* transition: min-width 0.3s ease-out, min-height 0.3s ease-out,
    opacity 0.3s ease-out; */
  /* transition: all 0.3s ease-out; */
}

.main.compressed {
  max-width: min(500px, 86vw);
  /* height: 320px; */
}

.main.expanded {
  min-width: 100%;
  min-height: 100%;
}

.main.expanded #dark-mode-btn {
  display: none;
}

.main.compressed .floating-hero--content {
  display: block;
  opacity: 1;
}

.main.expanded .floating-hero--content {
  display: none;
  opacity: 0;
}

.main.compressed .main--content-container {
  display: none;
  opacity: 0;
}

.main.expanded .main--content-container {
  display: flex;
  opacity: 1;
}

.floating-hero--content {
  padding: min(50px, 7vw);
}

.hero--button-container ul li {
  display: inline-block;
}

.hero--button-container ul li a {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

a.hero--button {
  text-transform: uppercase;
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;

  padding: 10px 15px;

  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
}

a.hero--button:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);

  transition: all 0.2s ease-in;
}

.main--content-container {
  flex-direction: row;
  width: 100%;
}

.main--sidenav {
  min-width: 225px;
  max-width: 225px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid var(--fg-color);
}

.main--sidenav ul {
  margin-top: 40px; /* TODO: vars (this is 2x) */
}

.main--sidenav ul li {
  font-size: 20px;
  padding: 10px 25px;
}

.main--sidenav ul li span.material-icons-outlined {
  float: right;
}

.main--sidenav ul li.selected {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.main--sidenav ul li:hover,
.main--sidenav ul li.underline {
  cursor: pointer;
  text-decoration: underline;
}

.main--sidenav--subtext {
  padding: 20px;
}

.main--sidenav--subtext p {
  font-size: 13px;
}

#highlight {
  width: 10px;
  height: 20px;

  transition: all 0.2s;
  position: absolute;
  background-color: var(--fg-color);
  z-index: 2;
  display: block;
}

#highlight.inverted {
  background-color: var(--bg-color);
}

/* li.selected .highlight {
  background-color: var(--bg-color);
} */

.main--content {
  width: 100%;
  flex: 1;

  padding: 40px;

  position: relative;
}

#collapse-main-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-top: none;
  border-right: none;
}

/* Custom Text Styles */

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
}

b {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}
